* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

.traffic-light {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(237, 242, 247);
}

.gasket {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 4em;
  height: 12em;
  background-color: rgb(47, 48, 55);
  border-radius: 6px;
  box-shadow: 0 1.9px 1.6px rgba(0, 0, 0, 0.024),
    0 4.3px 3.6px rgba(0, 0, 0, 0.035), 0 7.6px 6.3px rgba(0, 0, 0, 0.043),
    0 12px 10px rgba(0, 0, 0, 0.05), 0 18.5px 15.5px rgba(0, 0, 0, 0.057),
    0 28.9px 24.1px rgba(0, 0, 0, 0.065), 0 48px 40px rgba(0, 0, 0, 0.076),
    0 96px 80px rgba(0, 0, 0, 0.1);
}

.light {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  opacity: 0.2;
}

.red {
  background-color: red;
}

.yellow {
  background-color: rgb(255, 225, 0);
}

.green {
  background-color: rgb(7, 211, 7);
}

.active {
  opacity: 1;
  transition: 0.8s;
}

.next {
  width: 4em;
  height: 4em;
  background-color: blue;
  border-radius: 50%;
  border-width: 0;
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  box-shadow: 0 1.9px 1.6px rgba(0, 0, 0, 0.024),
    0 4.3px 3.6px rgba(0, 0, 0, 0.035), 0 7.6px 6.3px rgba(0, 0, 0, 0.043),
    0 12px 10px rgba(0, 0, 0, 0.05), 0 18.5px 15.5px rgba(0, 0, 0, 0.057),
    0 28.9px 24.1px rgba(0, 0, 0, 0.065), 0 48px 40px rgba(0, 0, 0, 0.076),
    0 96px 80px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: 0;
}

button:active {
  background-color: blueviolet;
  transition: 0.2s;
}

button:hover {
  border: 4px solid white;
  transition: 0.2s;
}
